p {
	font-size: 25px;
}

.changer-button {
	vertical-align: middle;
	margin: 10px;
	width: 100px;
	height: 50px;
}
.input-text {
	display: inline-block;
	vertical-align: middle;
	height: 44px;
	font-size: 25px;

}